# Use only server-side secrets. Never commit credentials or patient data.
# DATABASE_URL=postgresql://...
# NEO4J_URI=neo4j+s://...
# NEO4J_USERNAME=
# NEO4J_PASSWORD=
# FHIR_BASE_URL=https://...
# FHIR_CLIENT_ID=
# FHIR_CLIENT_SECRET=
# DRUGBANK_LICENSE_KEY=licensed-access-required
